@import url(./styles.css);

body{
    margin: 0;
}
.BigContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

}
.FormContainer{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    width: 300px;
    position: relative;
    

}
.FormContainer > img:first-of-type{
    width: 50%;
    justify-self: center;
    
}
.FormContainer > h1:first-of-type, .FormContainer > div:first-of-type h1:first-of-type {
    font-size: var(--bz);
    text-align: center;
    margin-bottom: 12px;
    color: var(--hospital-green);
}
.FormContainer > p:first-of-type{
    font-size: var(--mz);
    text-align: center;
    color: var( --very-light-pink);
}
.FormContainer > form > input:first-of-type, .FormContainer > form > input:nth-last-of-type(2), #name, #email, #password{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--mz);
    padding: 6px;
}
form{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 30px; */
}
.FormContainer form > input:last-of-type, .primarybutton{
    background-color: var(--hospital-green);
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--mz);
    font-weight: bold;
    height: 50px;
}
.FormContainer form > input:last-of-type:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
}
form a{
    color: var(--hospital-green);
    text-decoration: none;
    cursor: pointer;
    font-size: var(--sz);
    text-align: center;
    padding: 10px;
    margin: 10px;
}
 
/*Estilos de email confirm*/
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email >  div:first-of-type{
    width: 8.25em;
    height: 8.25em;
    border-radius: 60%;
    background-color: var(--text-input-field);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.email > p:first-of-type{
    font-size: var(--sz);
}
.email > p:first-of-type > span{
    color: var(--very-light-pink);
}
.email  a{
    color: var(--hospital-green);
    text-decoration: none;
    cursor: pointer;
}

/*estilos de session*/
.secondarybutton{
    background-color: var(--white);
    margin-top: 5px;
    border-radius: 8px;
    border: solid var(--hospital-green) 1px;
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--mz);
    font-weight: bold;
    height: 50px;
    width: 300px;


  
}

@media screen and (max-width: 640px) {
    .FormContainer{
       width: 70%;
    }
    .FormContainer > img:first-of-type{
        display: block;
    }
    /* form{
        width: 90%;
        font-size: var(--sz);
    } */
    .BigContainer > button:last-of-type{
        position: absolute;
        bottom: 0;
        margin-bottom: 24px;
    }
    
}