@import url(./styles.css);

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header header"
    "items items"
    "items items";
}
header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--TamannoCards));
    gap: 10px;
}
.Product > img:first-of-type{
    width: var(--TamannoCards);
    height: calc(var(--TamannoCards)/1.2);
    border-radius: 20px;
    object-fit: cover;
}
.ProductInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ProductInfo > figure img{
    width: 2rem;
}

@media screen and (max-width: 600px) {
  :root{
        --TamannoCards: 140px;
  }
}
